---
import { Image } from "astro:assets";
import wedding from "../../assets/home/events/wedding.jpeg";
import social from "../../assets/home/events/social-event.jpeg";
import corporate from "../../assets/home/events/corporate-brunch.jpeg";

const header = {
  title: "Celebrating",
  secondTitle: "life's moments",
  subtitle:
    "In our catering service we blend the warmth of homemade flavors with the elegance of custom-designed menus to create unforgettable culinary experiences.",
};
const events = [
  {
    name: "Weddings",
    detail:
      "Transform your dream wedding into a reality with our exquisite catering services. From intimate ceremonies to grand receptions, we are devoted to creating a culinary experience that reflects your unique love story.",
    moreDetails:
      "Our talented team is dedicated to crafting delicious menus and providing impeccable service that will enchant your guests and leave them with memories to cherish for a lifetime. Trust us to cater to your every need on this special day.",
    image: wedding,
    alt: "Mexican wedding buffet served in cazuelas de barro.",
  },
  {
    name: "Social",
    detail:
      "Discover unforgettable moments and create lasting memories with our exceptional catering services for social events. From elegant Anniversary Dinner to lively birthday celebrations, our team is dedicated to delivering delicious food and exceptional service that will leave your guests raving.",
    moreDetails:
      "Let us take care of the details so you can relax and enjoy every moment of your special event.",
    image: social,
    alt: "Fresh fruit table for quinceanera party.",
  },
  {
    name: "Corporate",
    detail:
      "Elevate your corporate events with our top-notch catering services. Wheter you're planning a productive business meeting, a company milestone celebration, or a networking event, our team is committed to providing mouth-watering cuisine and professional service that will impress your clients and colleagues.",
    moreDetails:
      "Let us handle the catering so you can focus on achieving your business objectives in style.",
    image: corporate,
    alt: "Corporate brunch service with personalized menu.",
  },
];
---

<!-- mobile -->
<section id="events" class:list={["section", "xl:hidden", "py-16"]}>
  <header
    class:list={[
      "flex flex-col items-center",
      "mx-auto",
      "text-center",
      "w-11/12 sm:w-10/12",
    ]}
  >
    <h2
      class:list={[
        "pb-8",
        "font-serif text-heading-sm md:text-heading-lg text-french-rose-400",
      ]}
    >
      {header.title}<br />{header.secondTitle}
    </h2>
    <h3 class:list={["font-extralight text-lg text-green-leaf-900"]}>
      {header.subtitle}
    </h3>
  </header>
  <article
    class:list={[
      "flex flex-col mx-auto",
      "sm:grid sm:grid-cols-2 lg:grid-cols-3 sm:gap-x-2.5",
    ]}
  >
    {
      events.map((event) => (
        <article
          class:list={[
            "flex flex-col gap-4",
            "pt-8 last-of-type:pt-8",
            "sm:last:col-span-2",
            "sm:last:justify-self-center",
            "sm:last:col-start-1 sm:last:col-end-3 lg:last:col-start-3",
            "sm:last:w-[calc(50%-(3.5rem/2))] lg:last:w-full",
          ]}
        >
          <Image
            src={event.image}
            alt={event.alt}
            class:list={[
              "border-green-leaf-900 border-y-2 border-l-4 border-r-2",
              "object-cover place-self-center",
              "rounded-full",
              "w-3/4 sm:w-2/3",
            ]}
          />

          <div
            class:list={[
              "sm:px-5",
              "space-y-4",
              "text-center text-pretty text-green-leaf-900",
              "[&_p]:font-extralight [&_p]:text-base",
            ]}
          >
            <span
              class:list={[
                "mt-8",
                "font-serif font-bold text-[28px] text-french-rose-400",
              ]}
            >
              {event.name}
            </span>
            <p>{event.detail}</p>
            <p>{event.moreDetails}</p>
          </div>
        </article>
      ))
    }
  </article>
</section>

<!-- desktop -->
<section class:list={["section", "hidden xl:block"]}>
  <article class:list={["grid grid-cols-2", "gap-2"]}>
    {
      events.map((event, index) => (
        <Image
          src={event.image}
          alt={event.alt}
          class:list={[
            "border-green-leaf-900 border-y-2 border-l-4 border-r-2",
            "object-cover place-self-center",
            "rounded-full",
            "w-11/12",
            { hidden: index !== 0 },
            event.name.toLowerCase(),
          ]}
        />
      ))
    }

    <div
      class:list={[
        "[&_p]:font-extralight [&_p]:text-lg",
        "[&_p]:text-center text-pretty [&_p]:text-green-leaf-900",
      ]}
    >
      <h2
        class:list={[
          "pt-5 pb-8",
          "font-serif text-heading-lg text-french-rose-400",
        ]}
      >
        {header.title}<br />&nbsp;{header.secondTitle}
      </h2>
      <h3
        class:list={[
          "mx-auto",
          "pb-7",
          "font-sans font-extralight text-xl text-center text-green-leaf-900",
          "w-11/12",
        ]}
      >
        {header.subtitle}
      </h3>
      <div
        id="events"
        class:list={[
          "flex justify-around",
          "mx-auto",
          "[&_span]:font-serif [&_span]:text-green-leaf-900",
          "w-3/4",
        ]}
      >
        {
          events.map((event, index) => (
            <span
              id={event.name.toLowerCase()}
              class:list={[
                "cursor-pointer",
                "text-xl text-center hover:text-french-rose-400",
                {
                  underline: index === 0,
                },
              ]}
            >
              {event.name}
            </span>
          ))
        }
      </div>
      {
        events.map((event, index) => (
          <div
            class:list={[
              "mx-auto",
              "pt-5 space-y-4",
              "w-11/12",
              { hidden: index !== 0 },
              event.name.toLowerCase(),
            ]}
          >
            <p>{event.detail}</p>
            <p>{event.moreDetails}</p>
          </div>
        ))
      }
    </div>
  </article>
</section>

<script>
  const wedding = document.getElementById("weddings");
  const social = document.getElementById("social");
  const corporate = document.getElementById("corporate");
  const weddingElements = document.getElementsByClassName("weddings");
  const socialElements = document.getElementsByClassName("social");
  const corporateElements = document.getElementsByClassName("corporate");

  wedding?.addEventListener("click", () => {
    wedding.classList.add("underline");
    social?.classList.remove("underline");
    corporate?.classList.remove("underline");
    for (const element of weddingElements) {
      element.classList.remove("hidden");
    }
    for (const element of socialElements) {
      element.classList.add("hidden");
    }
    for (const element of corporateElements) {
      element.classList.add("hidden");
    }
  });

  social?.addEventListener("click", () => {
    wedding?.classList.remove("underline");
    social.classList.add("underline");
    corporate?.classList.remove("underline");
    for (const element of weddingElements) {
      element.classList.add("hidden");
    }
    for (const element of socialElements) {
      element.classList.remove("hidden");
    }
    for (const element of corporateElements) {
      element.classList.add("hidden");
    }
  });

  corporate?.addEventListener("click", () => {
    wedding?.classList.remove("underline");
    social?.classList.remove("underline");
    corporate.classList.add("underline");

    for (const element of weddingElements) {
      element.classList.add("hidden");
    }
    for (const element of socialElements) {
      element.classList.add("hidden");
    }
    for (const element of corporateElements) {
      element.classList.remove("hidden");
    }
  });
</script>
