---
import type { ImageMetadata } from "astro";
import { Image } from "astro:assets";

interface Props {
  class?: string;
  name: string;
  detail: string;
  moreDetails?: string;
  image: ImageMetadata;
  alt: string;
}

const { class: className, name, detail, moreDetails, image, alt } = Astro.props;
---

<article class:list={["flex flex-col items-center", className]}>
  <Image
    src={image}
    alt={alt}
    class:list={[
      "border-green-leaf-900 border-y-2 border-l-2 border-r-4",
      "object-cover rounded-full",
      "max-w-[80%] place-self-center",
    ]}
  />

  <span
    class:list={[
      "cursor-pointer",
      "pt-8",
      "font-serif font-semibold text-3xl text-center text-shark-300",
      "hover:text-carnation-400",
    ]}
  >
    {name}
  </span>
  <p
    class:list={[
      "border border-purple-500",
      "pt-6",
      "font-sans font-light text-green-leaf-950 text-lg text-center text-pretty",
    ]}
  >
    {detail}
  </p>
  <p
    class:list={[
      "border border-sky-500",
      "pt-4",
      "font-sans font-light text-green-leaf-950 text-lg text-center text-pretty",
    ]}
  >
    {moreDetails}
  </p>
</article>
