---
import { Image } from "astro:assets";
import logo from "../assets/logo/logo-green.svg";
import menu from "../assets/icons/menu.svg";
import close from "../assets/icons/close.svg";

const links = [
  { name: "About", href: "/about" },
  { name: "Events", href: "/#events" },
  { name: "Services", href: "/#services" },
  { name: "Gallery", href: "/gallery" },
  { name: "Reviews", href: "/#reviews" },
  { name: "Follow us", href: "/#follow-us" },
];
---

<nav
  id="menu"
  class:list={[
    "bg-vista-white",
    "bg-clip-padding backdrop-filter backdrop-blur-lg bg-opacity-25",
    "fixed top-0",
    "lg:flex",
    "pt-3 lg:py-3",
    "w-full",
    "z-10",
  ]}
>
  <main
    class:list={[
      "section",
      "flex flex-row justify-between lg:items-stretch",
      "gap-x-16",
    ]}
  >
    <a href="/" class="flex items-center">
      <Image
        src={logo}
        alt="La chinacata logo"
        class="max-h-14 lg:max-h-none lg:w-full"
      />
    </a>

    <div class:list={["cursor-pointer flex lg:hidden place-items-center"]}>
      <Image id="openmenu" src={menu} alt="abrir menú" class="w-8 h-8" />
    </div>

    <section
      class:list={[
        "absolute lg:relative",
        "top-[78px] lg:top-0 left-0",
        "hidden lg:flex",
        "justify-around",
        "py-4 px-12 lg:p-0",
        "transition duration-75 ease-linear",
        "w-full",
      ]}
    >
      <div
        class:list={[
          "flex",
          "flex-col lg:flex-row",
          "items-end justify-between",
          "h-[54px]",
          "w-full",
        ]}
      >
        {
          links.map(({ name, href }) => (
            <a
              href={href}
              class:list={[
                "font-medium tracking-wide text-lg text-green-leaf-950",
                "hover:text-french-rose-500",
                "hover:transition-all hover:duration-150 hover:ease-in-out",
                "focus:text-french-rose-500",
              ]}
            >
              {name}
            </a>
          ))
        }
        <a
          href="/"
          class:list={[
            "bg-french-rose-400",
            "inline-flex justify-center items-end",
            "py-0.5 px-4",
            "rounded-3xl",
            "font-medium tracking-wide text-lg text-vista-white",
            "hover:bg-french-rose-300 hover:text-french-rose-900",
            "hover:transition-all hover:duration-150 hover:ease-in-out",
          ]}
        >
          Get in touch
        </a>
      </div>
    </section>
  </main>
</nav>

<nav
  id="mobile-menu"
  class:list={[
    "hidden lg:hidden",
    "fixed top-0",
    "bg-lavender-blush bg-clip-padding backdrop-filter backdrop-blur-lg bg-opacity-25",
    "h-dvh",
    "py-3",
    "w-full",
    "z-20",
  ]}
>
  <main
    class:list={[
      "section",
      "flex flex-row justify-between",
      "font-serif text-5xl leading-4",
    ]}
  >
    <a href="/" class="flex items-center">
      <Image src={logo} alt="La chinacata logo" class="max-h-14" />
    </a>

    <div class:list={["cursor-pointer flex place-items-center"]}>
      <Image id="closemenu" src={close} alt="cerrar menú" class="w-8 h-8" />
    </div>

    <section
      class:list={[
        "absolute",
        "top-[92px] left-0",
        "py-8 px-12",
        "transition duration-75 ease-linear",
        "w-full",
      ]}
    >
      <div class:list={["flex", "flex-col", "text-center", "w-full"]}>
        {
          links.map(({ name, href }) => (
            <a
              href={href}
              class:list={[
                "py-7",
                "font-semibold text-green-leaf-950",
                "hover:text-french-rose-500",
                "hover:transition-all hover:duration-150 hover:ease-in-out",
                "focus:text-french-rose-500",
              ]}
            >
              {name}
            </a>
          ))
        }
        <a
          href="/"
          class:list={[
            "bg-french-rose-400",
            "font-sans font-medium tracking-wide text-lg text-vista-white",
            "inline-flex justify-center items-center",
            "mt-12",
            "py-2.5 px-4",
            "place-self-center",
            "rounded-3xl",
            "w-[280px]",
            "hover:bg-french-rose-300 hover:text-french-rose-900",
            "hover:transition-all hover:duration-150 hover:ease-in-out",
          ]}
        >
          Get in touch
        </a>
      </div>
    </section>
  </main>
</nav>

<script>
  const menu = document.getElementById("menu");
  const mobilemenu = document.getElementById("mobile-menu");
  const openmenu = document.getElementById("openmenu");
  const closemenu = document.getElementById("closemenu");

  function openMenu() {
    openmenu?.addEventListener("click", () => {
      if (menu !== null && mobilemenu !== null) {
        menu.classList.toggle("hidden");
        mobilemenu.classList.toggle("hidden");
      }
    });
  }

  function closeMenu() {
    closemenu?.addEventListener("click", () => {
      if (menu !== null && mobilemenu !== null) {
        mobilemenu.classList.add("hidden");
        menu.classList.remove("hidden");
      }
    });
  }

  openMenu();
  closeMenu();
</script>
